/*
 * Copyright (c) 2021-2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define QWERTY_L 0
#define WORKMAN_L 1
#define NAV_L    2
#define SYM_L    3
#define ADJ_L    4

#define Undo   LC(Z)
#define Cut    LC(X)
#define Copy   LC(C)
#define Paste  LC(V)
#define Redo   LC(Y)


/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {

/* QWERTY
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | ESC  |   Q |   W |   E |   R    |   T    |--------------------------------------------|   Y     |   U    |   I    |   O    |   P     | `      |
 * | TAB  |   A |   S |   D |   F    |   G    |--------------------------------------------|   H     |   J    |   K    |   L    |   ;     | SK RALT   |
 * | CTRL |   Z |   X |   C |   V    |   B    |  CAPS    |-----------------------|  F11    |   N     |   M    |   ,    |   .    |   /     |   '    |
 *                          |  GUI   |  SHIFT | ALT/OPT  |  Nav   |---|  Sym     | SPACE   |  ENTER  |  <--   |
 */
                        bindings = <
&kp ESC   &kp Q &kp W &kp E &kp R    &kp T                                                 &kp Y     &kp U    &kp I     &kp O   &kp P     &kp GRAVE
&kp TAB   &kp A &kp S &kp D &kp F    &kp G                                                 &kp H     &kp J    &kp K     &kp L   &kp SEMI  &sk RALT
&kp LCTRL &kp Z &kp X &kp C &kp V    &kp B     &caps_word                        &kp F11   &kp N     &kp M    &kp COMMA &kp DOT &kp SLASH &kp SQT
                            &kp LGUI &kp LSHFT &kp LALT   &mo NAV_L    &mo SYM_L &kp SPACE &kp ENTER &kp BSPC
                        >;

                        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
                };

                workman_layer {
/* WORKMAN
 * -------------------------------------------------------------------------------------------------------------------------------------
 * |   |   Q |  D  |  R  |  W |   B    |-----------------------------|   J  |   F  |   U  |   P  |   ;    |   |
 * |   |   A |  S  |  H  |  T |   G    |-----------------------------|   Y  |   N  |   E  |   O  |   I    |   |
 * |   |   Z |  X  |  M  |  C |   V    |      |---------------|      |   K  |   L  |      |      |        |   |
 *                       |    |        |      |    |---|      |      |      |      |
 */
                        bindings = <
&trans &kp Q &kp D &kp R &kp W  &kp  B                               &kp  J &kp F  &kp  U &kp  P &kp SEMI &trans
&trans &kp A &kp S &kp H &kp T  &kp  G                               &kp  Y &kp N  &kp  E &kp  O &kp I    &trans
&trans &kp Z &kp X &kp M &kp C  &kp  V &trans                 &trans &kp K  &kp L  &trans &trans &trans   &trans
                         &trans &trans &trans &trans   &trans &trans &trans &trans
                        >;

                        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
                };

                nav_layer {
/* NAV
 * -------------------------------------------------------------------------------------------------------------------------------------
 * |   |   1/!     |  2/@    |  3/#   |  4/$     |  5/%      |-------------------------------------|  6/^    |  7/&        |  8/*      | 9/(     |   0/)    | \       |
 * |   | PG DOWN   | PG UP   | Up     | Shift    | Home      |-------------------------------------|         |  Left       | Down      | Up      | Right    | SK RALT |
 * |   | Shift     | Left    | Down   | Right    |  End      |  F5  |-------------------| MUTE     | Prev    |     Vol-    | Vol+      | Play    | Next     | Ctrl    |
 *                                    |          |           |      |     |---| ADJ_L   |          |         |  DEL        |
 */
                        bindings = <
&trans &kp EXCL    &kp AT    &kp HASH &kp DOLLAR &kp PERCENT                                       &kp CARET  &kp AMPS     &kp ASTRK    &kp LPAR &kp RPAR   &kp BSLH
&trans &kp PG_DN &kp PG_UP &kp UP   &kp LSHFT  &kp HOME                                          &none      &kp LEFT     &kp  UP      &kp DOWN &kp RIGHT  &sk RALT
&trans &kp LSHFT   &kp LEFT  &kp DOWN &kp RIGHT  &kp END     &kp F5                     &kp C_MUTE &kp C_PREV &kp C_VOL_DN &kp C_VOL_UP &kp C_PP &kp C_NEXT &kp RCTRL
                                      &trans     &trans      &trans &trans    &mo ADJ_L &trans     &trans     &kp DEL
                        >;

                        sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
                };

                sym_layer {
/* SYM
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | Copy|   1/!  |   2/@ |  3/#   |  9/(   |  0/)   |------------------------------------|  6/^   |  7/&   | 8/* | 9/(  | 0/)  | \       |
 * |     |   4/$  |   -   |   +    |   [    |   ]    |------------------------------------| =      |        |     |      |      | SK RALT |
 * | Ctrl|   5/%  |   /   |  8/*   |   {    |   }    |SkAltGr |-------------------| F12   | _      |        |     |      |      | Ctrl    |
 *                                 |        |        |        |  ADJ_L |---|      |       |        |        |
 */
                        bindings = <
&kp Copy &kp N1 &kp N2    &kp N3   &kp N9   &kp N0                                        &kp  N6   &kp N7 &kp N8 &kp N9 &kp N0 &kp BSLH
&none    &kp N4 &kp MINUS &kp PLUS &kp LBKT &kp RBKT                                      &kp EQUAL &none  &none  &none  &none  &sk RALT
&trans   &kp N5 &kp SLASH &kp N8   &kp LBRC &kp RBRC &sk RALT                     &kp F12 &kp UNDER &none  &none  &none  &none  &kp RCTRL
                                   &trans   &trans   &trans   &mo ADJ_L    &trans &trans  &trans    &trans
                        >;

                        sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
                };

                adj_layer {
/* ADJUST
 * -------------------------------------------------------------------------------------------------------------------------------------
 * |       | BT 0      | BT 1        | BT 2       | BT 3        | BT 4         |-----------------------------------|  F1  |  F4  | F7    | F10  | EP_OFF          | EP_ON |
 * | RESET | QWERTY    | WORKMAN     | NAV        |             |              |-----------------------------------|  F2  |  F5  | F8    | F11  | OUT_USB         | RESET |
 * |       | LGUI      | LALT        | LCTRL      | LSHFT       | Prt Scr      |BT CLR     |---------------|       |  F3  |  F6  | F9    | F12  | OUT_BLE         | BOOTL |
 *                                                |             |              |           |     |---|     |       |      |      |
 */
                        bindings = <
&none      &bt BT_SEL 0 &bt BT_SEL 1  &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4                                       &kp F1 &kp F4 &kp F7 &kp F10 &ext_power EP_OFF &ext_power EP_ON
&sys_reset &to QWERTY_L &to WORKMAN_L &to NAV_L    &none        &none                                              &kp F2 &kp F5 &kp F8 &kp F11 &out OUT_USB      &sys_reset
&none      &kp LGUI     &kp LALT      &kp LCTRL    &kp LSHFT    &kp PRINTSCREEN &bt BT_CLR                  &none  &kp F3 &kp F6 &kp F9 &kp F12 &out OUT_BLE      &bootloader
                                                   &trans       &trans          &trans     &trans    &trans &trans &trans &trans
                        >;

                        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
                };
        };
};
